

.ticket-confirmation-container {
    padding: 50px;
    position: relative;
    right: 30px;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
 
    font-family: sans-serif;
  }
  
  .ticket-confirmation-panel {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px; 
  }
  
.ticket-confirmation-panel ~ p{
  position: relative;
  right: 10px;
}

.barcode-section {
  margin-top: 20px;
  text-align: center;
}

.barcode-image {
  width: 180px;
  height: 40px;
}

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
   .my-tickets-button {
   background: #007bff;
   color: #fff;
   padding: 8px;
   border-radius: 20px; 
  } 
  
  .confirmation-message {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .ticket-details {
   
    border: 1px solid #ccc; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .event-info {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 20px;
  }
  
  .ticket-header {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
  }
  
  .image-container {
    width: 100%; 
    height: 100%;
    overflow: hidden; 
    margin-right: 10px; 
  }
  
  .user-avatar {
    width: 60%;
    margin-top: 20px;

    height: 50%;
    object-fit: cover; 
  }
  
  .event-info h3 {
    margin: 0; 
  }
  
  .location-details {
    text-align: center; 
  }
  
  .user-info, .type-details {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-around;
 

    span{
      font-weight: bold;

    }
  }


  
  .ticket-number {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .barcode {
    text-align: center;
  }
  
  .barcode-placeholder {
    width: 200px;
    height: 50px;
    background-color: #eee;
    margin: 0 auto;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .book-another-button, .download-ticket-button {
    border: 1px solid #00b7ff; 
    font-size: small;
    width: 50%;
    justify-content: space-between;
  }

  .book-another-button{
    width: 60%;
  }
  
.eventHead{
  font-weight: bolder;
  position: relative;
  right: 30px;
  text-align: center;
  font-size: 25px;
}

  .download-ticket-button{
    width: 50%;
    border: 1px solid #007bff; 
    background: #0bbfd6;
    color: #fff; 
  }

